.main {
    margin: auto;
    max-width: 600px;
}

form {
    margin: auto;
    padding: 20px;
}

form > div:nth-child(1),
form > div:nth-child(2) {
    margin-right: 20px;
}

.timers {
    padding: 20px;
}


.currentTime {
    margin-right: 20px;
}

.delete {
    cursor: pointer;
    margin-left: 20px;
}
